@font-face {

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2")format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.coll {
  padding-right: 70px;
  padding-left: 70px;
}

.button {

  display: block;
  font-family: "PT Sans";
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
}

.main-container .main-index {
  color: #ffffff;
  flex-grow: 1;
  display: flex;
  margin: 0 auto;
  width: 1200px;

}


/*Хэдер*/

.page-header {
  color: #000000;
  background: #FFFFFF;
  display: flex;
  width: 100%;
  align-items: center;

}


.page-header a {
  text-decoration: none;
}

.header-logo {
  display: block;
  margin-right: 30px;
  height: 64px;
}


.header-logo-pic {
  position: relative;
  display: block;
  width: 140px;
  height: 70px;
  object-fit: contain;
}

.background-text {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;

}

/*навигация*/

.navigation {
  display: flex;
  margin: 0;
  padding: 0;
  width: 880px;

}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list .navigation-user {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user {
  max-width: 180px;
  margin-left: auto;

}


.navigation-link {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
}


.navigation-link-after::after {
  position: absolute;
  content: "";
  height: 2px;
  left: 16px;
  right: 16px;
  bottom: -1px;
  background-color: #756257;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #dbdbdb;
}

.nav {
  display: block;
  width: 44px;
  height: 64px;
  margin-right: auto;
}

.navigation-item-search {

  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-item-favorite {
  display: block;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}


.navigation-number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 11px 4px 33px 20px;
  text-align: center;
  background-color: #7db54f;
  border-radius: 10px;
  font-size: 10px;
  line-height: 10px;
  width: 20px;
  height: 20px;
  color: #ffffff;
}


/*Хочу Сюда*/

.navigation-button {
  display: block;
  font-family: "PT Sans";
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  width: 160px;
  height: 36px;
  padding: 8px 34px;
  margin: 0 auto;
  border-radius: 4px;
  margin-left: auto;

}



/*Фото седона*/

.sedona-city {
  display: block;
  color: #ffffff;
  background-color: #253239;
  background-image: url("../images/mainpic.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 51px 0 82px;
  margin: 0 auto;
}


/*Список преимуществ*/


.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}


.advantages-item {
  background-color: #82B3D3;
  display: flex;


}

.advantages-wrapper {
  width: 400px;
  min-height: 385px;
  margin: 0 auto;
  padding: 102px 85px
}

.advantages-picture {
  width: 800px;
  height: 385px;

}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.advantages-item-sedona {
  background-color: #83B3D333;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 400px;
  height: 385px;

}

.advantages-sedona {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-top: 0;
}



.advantages-title-sedona {
  position: relative;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
  margin-top: 0;
}




.advantages-title-sedona::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto 0;
  background-color: #ffffff;
  opacity: 30%;
}

.advantages-sedona::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  margin: 30px auto 0;
  background-color: #000000;
  opacity: 30%;
}

.advantages-text {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 90px;

}

.advantages-description {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: none;
  margin: 0 auto;
}

.advantages-description-title {
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0 auto;
}


/*приезжайте отдохнуть*/

.title-call {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin-top: 64px;
  margin-bottom: 20px;
}

.description-call {
  color: #333333;
  font-size: 22px;
  font-weight: 26px;
  text-align: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 64px;
}

/*список рекомендаций*/


.recommend-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.recommend-item {
  background-color: #83B3D31F;
  height: 385px;
  margin: 0;
  padding: 81px 85px;

}

.recommend-home {

  position: relative;
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 81px;


}

.recommend-food {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
  background-size: 74px 70px;
}

.recommend-gift {

  background-image: url("../images/present.svg");
  background-repeat: no-repeat;
  background-position: center 81px;
  background-size: 64px 76px;
}

.item {
  background-color: #ffffff;
}

.recommend-list-list {
  color: #333333;
  font-size: 18px;
  font-weight: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.recommend-item-list {

  font-size: 24px;
  font-weight: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 102px;
  margin-bottom: 30px;
}

/*Заинтересовались?*/

.interested {
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
}


.interested-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.interested-text {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 54px;
}

.button-search {
  display: block;
  font-family: "PT Sans";
  background-color: #756157;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 8px 50px;
  border: none;
}


/* Подписка на рассылку */


.section-mail {
  display: block;
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 104px;
  text-align: center;

}



.section-mail-index {
  background-image: url("../images/backgroundmain.jpg");
  background-color: #404b50;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
}


.mail-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.mail-text {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 54px;
}

.mail-text-index {
  color: #ffffff;
}

.subscribe-mail-catalog {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.field-email-catalog {
  color: #82B3D3;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto;
}


.subscribe-mail {

  display: flex;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 700px;
}

.field-email {

  padding: 12px 20px;
  font-family: inherit;
  color: #F2F2F2;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  height: 52px;
}


/*Подвал*/

.page-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
  padding-top: 45px;
  align-items: center;

}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.page-footer a {
  color: #000000;
  text-decoration: none;
}


.phone-number {
  display: block;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  justify-content: center;
  margin: auto;
}




/*КАТАЛОГ*/

/* главная */


.page-container-catalog {
  background-image: url(../images/backgroundmain.jpg);
  background-color: #253239;
  color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px;
}

.inner-header-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;

}

/* хлебные крошки */


.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

}
.breadcrumbs-link {
  display: block;
    width: 12px;
    height: 14px;
    background-image: url(../images/homebreadc.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;

}
.breadcrumbs-item {
 display: flex;
  position: relative;
}

.breadcrumbs-item:first-child::after {
 position: absolute;
  content: url(../images/breadcrumbsnext.svg);
    right: 10px;
    left: 10px;
    width: 7px;
    height: 10px;

}

/* фильтры поиска жилья */

.filter-columns {
  display: flex;
  gap: 40px 70px;
  align-items: flex-start;

}


.filter-wrapper-right {
  justify-content: space-between;
  width: 549px;
  margin-left: auto;

}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 40px;
  padding-bottom: 32px;

}


.catalog-products-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.catalog-filter {
  display: flex;
  gap: 70px;

}


/* форма цены */
.catalog-filter-title {
  margin: 0;
}


.catalog-filter-group {
  margin: auto;
  padding: 0;
  border: none;
}

.inputs-price-container {
  display: flex;
    margin-bottom: 44px;
}


.field-price {
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    width: 143px;
    box-sizing: border-box;
    appearance: textfield;
    height: 48px;
    border: none;
    padding: 0;
    padding-left: 20px;
    background-color: #f2f2f2;

}
.field-price:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-right: 2px;
}
.field-price:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.range-scale {
  display: block;
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
}
.range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    top: -8px;
}
.price-toggle-min {
    left: 0;
}

.price-toggle-max {
    right: -10px;
}
.range-bar {
    position: absolute;
    height: 4px;
    background-color: #ffffff;
    left: 0;
    width: 226px;
}
/* кнопки выбора */

.catalog-button-container {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    height: 104px;

}

.catalog-submit-btn {
  color: #ffffff;
  display: block;
  padding: 8px 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #82B3D3;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 32px;
}

.catalog-reset-btn {
  display: block;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 8px 50px;

  background-color: transparent;
}


/* Плитка список карточки */

.card-grid-toggle {
  display: block;
  margin-right: 8px;
  min-width: 48px;
  padding: 16px 17px;
  height: 48px;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #E5E5E5;

}

.card-grid-toggle-active {
    border: 2px solid #000000;
}


.social-footer {
  display: block;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 47px 40px;
  padding-left: 10px;
  padding-right: 10px;
  width: 44px;
  height: 24px;

}

.number {
  display: block;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  max-width: 500px;
  width: 331px;
  height: 40px;
  text-decoration: none;

}

.page-footer-link {

  display: block;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 115px 33px;
  margin: 0;
}

/* НАЙДЕНО ГОСТИННИЦ */

.sorting-container {
  display: flex;
 flex-wrap: wrap;
 align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
.catalog-search {

    width: 338px;
    margin: 0;
    margin-right: auto;
}
.select-control {
    width: 292px;
    height: 49px;
    font-family: inherit;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: transparent;
    border: 2px solid #e5e5e5;
    border-radius: 4px;
    padding-left: 20px;
    margin-right: 70px;
}
/*Кнопки каталога*/


.catalog-search {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-right: auto;
}



/*список гостинниц*/



.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  margin-bottom: 40px;

}

.product-card {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px 1fr auto;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.product-card-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;
  margin: 0;
}

.product-card-name {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

}

.product-card b {
  margin: 0;
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
}

.product-card h2 {
  color: #000000;
  text-decoration: none;
}

.product-card a {
  color: #ffffff;
  text-decoration: none;
  grid-column: 1/-1;
}

.rating {
  grid-column: 2 / 3;
  margin: 0;
  padding: 8px 22px;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  background-color: #E5E5E5;
  border-radius: 4px;
}


.card-img {
  display: block;
  width: 300px;
  height: 212px;
  object-fit: contain;
  order: -1;
}


/*кнопки отелей*/


.newsletter-button {
  font-family: "PT Sans";
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 235px;
  height: 52px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}



.hotel-details-button {
  display: block;
  font-family: "PT Sans";
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  width: 140px;
  height: 36px;
  padding: 8px 26px;
  border: 0;
  grid-column-start: 2;
  grid-row-start: 4;

}

.catalog-form-button {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  width: 191px;
  margin-top: 56px;
}

.hotel-add-favorites {
  display: block;
  font-family: "PT Sans";
  color: #ffffff;
  background-color: #82B3D3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  width: 140px;
  height: 36px;
  grid-column-start: 2;
  grid-row-start: 4;
}

.hotel-add-favorites-checked {
  display: block;
  font-family: "PT Sans";
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  background-color: #7DB54F;
  width: 140px;
  height: 36px;
}


/*ПАГИНАЦИЯ*/
.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  color: #ffffff;
  list-style: none;
  margin-bottom: 60px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  padding: 12px 10px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: var(--text-color-contrast);
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  background-color: #82B3D3;

}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-item {
  margin: 0;
  padding: 0;
  margin-right: 8px;
}
